/*Categorias*/

#principal{
    margin: 0;
    display: grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: 170px 50px 170px 50px 170px 50px 170px 50px 170px;
}
h4 {
    margin: 0;
    color: rgb(1, 189, 189);
}
.laflecha {
    display: flex;
    align-items: center;
}
.articleorden {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cataccion article,
    .catdeportes article,
    .cataventuras article,
    .catrpg article {
        margin-top: 10px;
    }

    .categorias__h3 {
        background-image: linear-gradient(rgb(20, 20, 20), rgb(70, 70, 70) );
        border: 3px solid black;
        border-radius: 15px;
        margin: 10px 10vw;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 50px;
        h3 {
            padding-left: 20px;
            color: aqua;
        }
    }

    .cataccion__juego-ordenh4,
.catdeportes__juego-ordenh4,
.cataventuras__juego-ordenh4,
.catrpg__juego-ordenh4 {
    margin-right: 12px;
}

/*ACCION*/

.cataccion__juegos3,
.cataccion__juegos4,
.cataccion__juegos5 {
    display: none;
}





.cataccion {
    margin: 20px 10vw;
    display: flex;
    justify-content: space-around;
}

.cataccion__juego-orden {
        display: flex;
        justify-content: space-around;
        margin-top: 5px;
}


/*DEPORTES*/

.catdeportes__juegos3,
.catdeportes__juegos4,
.catdeportes__juegos5 {
    display: none;
}
.catdeportes {
    margin: 20px 10vw;
    display: flex;
    justify-content: space-around;
}
.catdeportes__juego-orden {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/*AVENTURAS*/
.cataventuras__juegos3,
.cataventuras__juegos4,
.cataventuras__juegos5 {
    display: none;
}
.cataventuras {
    margin: 20px 10vw;
    display: flex;
    justify-content: space-around;
}
.cataventuras__juego-orden {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/*RPG*/
.catrpg__juegos3,
.catrpg__juegos4,
.catrpg__juegos5 {
    display: none;
}
.catrpg {
    margin: 20px 10vw;
    display: flex;
    justify-content: space-around;
}
.catrpg__juego-orden {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}