
$aquavivo: rgb(5, 218, 218);
$fondobotones: rgb(230, 230, 230);

/*Contacto*/

#maincontacto {
    background-color: rgb(60,60,60);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    )
    ,url('../assets/backgrounds/fondoindex.jpg');
    background-size: cover;
    
}

.h3contacto {
    color: $aquavivo;
    display: flex;
    margin: 5vh 0;
    justify-content: center;
    h3 {
        font-size: 20px;
    }
}

.seccion1contacto__div {
    display: flex;
    justify-content: center;
    p {
        display: none;
    }
    button {
        margin: 15px 0;
        width: 80px;
    }
    button:hover {
        background-color: rgb(36, 206, 206);
        color: black;
        box-shadow: 2px 2px 10px black;
        transition: .3s;
    }
    img {
        width: 40px;
    }
}
.seccion1contacto__div-wpp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 3vw;
}
.seccion1contacto__div-preg{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 3vw;
}

.escribinosh3 {
    display: flex;
    justify-content: center;
    color: $aquavivo;
}

/*el formularioo*/

label {
    color: $aquavivo;
}
.formcontacto {
    display: flex;
    justify-content: center;
    a {
        text-decoration: none;
        color: black;
    }
}

.formcontacto input,
.formcontacto textarea {
    margin-top: 5px;
    color: rgb(30,30,30);
    background-color: rgb(230,230,230);
    border: none;
    box-shadow: 2px 2px 5px black;
}
fieldset {
    border: none;
    border-radius: 15px;
    color: 1px solid black;
}
.seccion1contacto button {
    font-size: 12px;
    font-weight: 650;
    color: black;
    background-color: $fondobotones;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 5px black;
}
.seccion1contacto button:hover {
    background-color: rgb(36, 206, 206);
    color: black;
    box-shadow: 2px 2px 10px black;
    transition: .3s;
}
.formcontacto a {
    color: rgb(0, 167, 167);
}
.formcontacto a:hover {
    color: map-get($map: $subtitulos, $key: aquabueno );
}


.seccion2contacto__h3{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    h3 {
        color: $aquavivo;
    }
}
.seccion2contacto__iconos{
    display: flex;
    justify-content: center;
    img {
        padding: 10px 15px;
    }
}
