.pie {
    height: 10vh;
    background-image: linear-gradient(rgb(39, 37, 37), rgb(50, 50, 50) );
    display: flex;
    justify-content: space-between;
}
.div-parrafos {
    color: $colornavfooter;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
        font-size: 2.2vw;
        padding-left: 5px;
        padding-right: 10px;
    }
}

.div-iconos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

i {
    font-size: 1.8rem;
    color: $colornavfooter;
    padding: 0px 0.5rem;
}
i:hover{
    color: rgb(230, 230, 230);
}