
$fondobotones: rgb(230, 230, 230);

/*Tienda*/

.buscar-categorias{
    margin: 0 10vw 3vh 25vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buscartienda {
    display: flex;
    align-items: center;
    margin: 1vh 0;
    input {
        padding: 10px;
        width: 20vw;
        border: 3px;
        border-radius: 40px;
        background-color: $fondobotones;
        color: black;
        box-shadow: 2px 2px 5px black;
    }
    
}
.boton-tienda {
    font-weight: 600;
    border-radius: 20px;
    margin: 0 10px;
    background-color: $fondobotones;
    color: black;
    border: 2.5px solid black ;
    box-shadow: 2px 2px 5px black;
}
.boton-tienda:hover {
    
    background-color: rgb(36, 206, 206);
    color: black;
    box-shadow: 2px 2px 10px black;
    transition: .3s;
}

.selectorestienda {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 1vh 0;
    select {
        color: map-get($map: $subtitulos, $key: aquabueno );
        height: 4vh;
        width: 30vw;
        padding: 0px 20px 0px 10px;
        font-size: 16px;
        background-image: linear-gradient(black, rgb(50, 50, 50) );
        border: 2px map-get($map: $subtitulos, $key: aquabueno );
        border-radius: 20px;
    }
}


.tanda1__juegos4,
.tanda2__juegos8 {
    display: none;
}

.tandas {
    display: grid;
    margin: 5vh 10vw 2vh;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, auto);
    img {
        height: 80px;
        width: 20vw;
    }
    a {
        text-decoration: none;
        color: rgb(20, 20, 20);
    }
    button {
        font-weight: 650;
        height: 40px;
        color: black;
        background-color: $fondobotones;
        border-radius: 20px;
        margin-top: 18px;
        width: 20vw;
        box-shadow: 2px 2px 5px black;
    }
    button:hover {
        background-color: rgb(36, 206, 206);
        color: black;
        box-shadow: 2px 2px 10px black;
        transition: .3s;
        
    }
}
.tanda1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    margin: 5vh 0;
}


.tanda__juegos-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tanda2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    margin: 5vh 0;
}


.pasarpag {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    img {
        margin-left: 10px;
    }
}
