@import "index.scss";
@import "headernav.scss";
@import "footer.scss";
@import "categorias.scss";
@import "tienda.scss";
@import "plataformas.scss";
@import "contacto.scss";

/*ajustes de body..*/


body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(60, 60, 60) );
    background-repeat: cover;
}


/*HEADER Y NAV*/

/*header-nav para movile terminado*/





/*INDEX*/

/*fin del main del index*/





/*AQUI SE TRABAJARA EL MAIN DE LA SECCION CATEGORIAS!!*/

/*fin del main de categorias*/





/*AQUI SE TRABAJARA EL MAIN DE TIENDA!!!*/

/*fin del main del tienda*/





/*AHORA VOY A TRABAJAR EL MAIN DE PLATAFORMAS!!!!!!!!!*/

/*fin del main de plataformas*/





/*AQUI SE TRABAJARA EL MAIN DE CONTACTO!!!!!*/

/*fin del main de contacto*/





/*AQUI SE TRABAJARA EL FOOTER*/

/*Fin del footer*/





/*MEDIA QUERIES */


@media (min-width: 804px) {
    
    /*header y nav*/
    
    .carro {
        display: none;
    }
    .form-control,
    .btn {
        display: block;
        box-shadow: 2px 2px 5px black;
    }
    .navbar {
        padding: 0;
        display: grid;
        grid-template-columns: 4fr 4fr 0.5fr;
        align-items: center;
        
    }
    .icon-search {
        display: flex;
        justify-content: space-around;
    }
    .d-flex {
        display: flex;
        align-items: center;
    }
    .d-flex input {
        height: 30px;
        border-radius: 15px;  
    }
    .form-control:focus {
        border-color: black;
        box-shadow: none;
    }

    .btn-outline-success {
        --bs-btn-color: aqua;
        --bs-btn-border-color: aqua;
        --bs-btn-hover-color: black;
        --bs-btn-hover-bg: aqua;
        --bs-btn-hover-border-color: aqua;
        --bs-btn-active-color: rgb(230, 230, 230);
        --bs-btn-active-bg: aqua;
        --bs-btn-active-border-color: aqua;
        --bs-btn-active-shadow: inset 0 3px 5px black;
        --bs-btn-disabled-color: aqua;
        --bs-btn-focus-shadow-rgb: none;
        --bs-btn-disabled-border-color: aqua;
    }

    .d-flex button {
        display: flex;
        align-items: center;
        height: 30px;
        border-radius: 15px;
    }
    .d-flex button:hover {
        background-color: rgb(230, 230, 230);
        color: black;
        border: 1px solid black;
        transition: 0.3s;
    }
    .collapse {
        flex-direction: row;
        justify-content: center;
    }
    .collapse a{
        font-size: 1.5vw;
    }
    .user {
        display: block;
    }
    .user img{
        margin: auto;
        width: 3vw;
    }
    .div-icon img{
        width: 10vw;
    }
    

    /*header y nav terminadoss*/
    
    
    /*INDEXX*/
    
    
    .subtitulos {
        height: 20vh;
    }
    h2 {
        font-size: 4vw;
        padding: 0px 20vw;
    }
    .container {
        height: 70vh;
    }
    .card-juegos {
        width: 60%;
        height: 30vh;
        margin: auto;
    }
    .card-juegos img{
        height: 15vh;
    }
    .card-juegos h5 {
        font-size: 25px;
        margin: 10px 10px 30px;
    }
    .card-juegos a{
        padding: 10px;
    }
    .card-juegos h5 {
        font-size: 1.5vw;
    }
    
    
    /*categorias*/
    
    
    .cataccion article,
    .catdeportes article,
    .cataventuras article,
    .catrpg article {
        margin-top: 20px;
    }
    .cataccion__juegos3,
    .cataccion__juegos4,
    .cataccion__juegos5 {
        display: block;
    }
    .catdeportes__juegos3,
    .catdeportes__juegos4,
    .catdeportes__juegos5 {
        display: block;
    }
    .cataventuras__juegos3,
    .cataventuras__juegos4,
    .cataventuras__juegos5 {
        display: block;
    }
    .catrpg__juegos3,
    .catrpg__juegos4,
    .catrpg__juegos5 {
        display: block;
    }
    
    /*TIENDAA*/
    
    .buscar-categorias {
        width: 70vw;
        margin: 0 15vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tanda1__juegos4,
    .tanda2__juegos8 {
        display: block;
    }
    
    .tanda1 article,
    .tanda2 article {
        padding: 20px;
    }
    .tandas {
        display: flex;
        flex-direction: column;
        margin: 0 10vw 0;
        height: 70vh;
    }
    
    
    .tanda2 {
        margin: 10vh 5vw;
        display: flex;
        justify-content: center;
    }
    .tanda1 {
        margin: 10vh 5vw;
        display: flex;
        justify-content: center;
    }
    
    .tandas img{
        height: 7vw;
        width: 13vw;
    }
    .tandas button {
        height: 40px;
        border-radius: 18px;
        margin-top: 18px;
        width: 10vw;
    }
    .pasarpag{
        height: 100px;
        align-items: center;
        margin-top: 5vh;
    }
    .pasarpag label {
        padding: 0 1vw;
    }
    
    /*PLATAFORMAS*/
    
    .catps article,
    .catpc article,
    .catxbox article,
    .catwii article {
        margin-top: 20px;
    }
    .catps__juegos3,
    .catps__juegos4,
    .catps__juegos5 {
        display: block;
    }
    .catpc__juegos3,
    .catpc__juegos4,
    .catpc__juegos5 {
        display: block;
    }
    .catxbox__juegos3,
    .catxbox__juegos4,
    .catxbox__juegos5 {
        display: block;
    }
    .catwii__juegos3,
    .catwii__juegos4,
    .catwii__juegos5 {
        display: block;
    }
    .catps__juego-ordenh4,
    .catpc__juego-ordenh4,
    .catxbox__juego-ordenh4,
    .catwii__juego-ordenh4 {
        padding-right: 3px;
    }
    .plataformas__h3 h3{
        font-size: 25px;
    }
    
    
    /*CONTACTOOO*/
    
    .seccion1contacto{
        display: grid;
        grid-template-columns: auto 35vw;
        grid-template-rows: 26vh;
        margin: 5vh 10vw 15vh 25vw;
        align-items: center;
    }
    .seccion1contacto__div{
        display: flex;
        flex-direction: column;
        
    }
    .seccion1contacto__div p{
        display: block;
        color: rgb(5, 218, 218);
        font-size: 15px;
        padding: 0 10px;
    }
    .seccion1contacto__div-wpp{
        display: flex;
        flex-direction: row;
    }
    .seccion1contacto__div-preg{
        display: flex;
        flex-direction: row;
    }
    .formcontacto{
        width: 35vw;
        height: 26vh;
    }
    fieldset {
        width: 35vw;
        height: 26vh;
    }
    fieldset label {
        font-size: 1.5vw;
    }

    fieldset input,
    fieldset textarea {
        width: 35vw;
    }
    
    .lalala {
        width: 35vw;
        height: 30vh;
        margin: 0;
    }
    fieldset a{
        padding-right: 10px;
    }
    .seccion2contacto {
        height: 18vh;
    }
    .seccion2contacto__h3 h3 {
        font-size: 1.7vw;
    }
    .seccion2contacto__iconos img{
        width: 65px;
    }
    
    /*ahora el footer*/
    
    .pie {
        display: flex;
        justify-content: space-around;
    }
    .div-parrafos {
        width: 50%;
    }
    .div-parrafos p{
        font-size: 12px;
    }
    .div-iconos {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .div-iconos img{
        width: 80px;
        padding: 0px 25px;
    }
    i {
        font-size: 1.8rem;
        color: rgb(5, 218, 218);
        padding: 2rem;
    }
}