@import "index.scss";
@import "headernav.scss";
@import "footer.scss";
@import "categorias.scss";
@import "tienda.scss";
@import "plataformas.scss";
@import "contacto.scss";

/*ajustes de body..*/


body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: rgb(60,60,60);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    )
    ,url('../assets/backgrounds/fondoindex.jpg');
    
}



/*HEADER Y NAV*/

/*header-nav para movile terminado*/





/*INDEX*/

/*fin del main del index*/





/*AQUI SE TRABAJARA EL MAIN DE LA SECCION CATEGORIAS!!*/

/*fin del main de categorias*/





/*AQUI SE TRABAJARA EL MAIN DE TIENDA!!!*/

/*fin del main del tienda*/





/*AHORA VOY A TRABAJAR EL MAIN DE PLATAFORMAS!!!!!!!!!*/

/*fin del main de plataformas*/





/*AQUI SE TRABAJARA EL MAIN DE CONTACTO!!!!!*/

/*fin del main de contacto*/





/*AQUI SE TRABAJARA EL FOOTER*/

/*Fin del footer*/





/*MEDIA QUERIES */


@media (min-width: 804px) {
    
    /*body*/
    body {
        background-repeat: no-repeat;
        background-size: contain;
    }

    /*header y nav*/
    
    .carro {
        display: none;
    }
    .form-control,
    .btn {
        display: block;
        box-shadow: 2px 2px 5px black;
    }
    .navbar {
        padding: 0;
        display: grid;
        grid-template-columns: 4fr 4fr 0.5fr;
        align-items: center;
        
    }
    .icon-search {
        display: flex;
        justify-content: space-around;
    }
    .d-flex {
        display: flex;
        align-items: center;
    }
    .d-flex input {
        height: 30px;
        
    }
    .form-control:focus {
        border-color: black;
        box-shadow: none;
    }

    .btn-outline-success {
        --bs-btn-color: aqua;
        --bs-btn-border-color: aqua;
        --bs-btn-hover-color: rgb(30, 30, 30);
        --bs-btn-hover-bg: aqua;
        --bs-btn-hover-border-color: aqua;
        --bs-btn-active-color: rgb(230, 230, 230);
        --bs-btn-active-bg: aqua;
        --bs-btn-active-border-color: aqua;
        --bs-btn-active-shadow: inset 0 3px 5px black ;
        --bs-btn-disabled-color: aqua;
        --bs-btn-focus-shadow-rgb: none;
        --bs-btn-disabled-border-color: aqua;
    }

    .d-flex button {
        display: flex;
        align-items: center;
        height: 30px;
        background-color: rgb(30, 30, 30);
        color: map-get($map: $subtitulos, $key:aquabueno );
        border: none;
        border-radius: 0px;
    }
    .d-flex button:hover {
        background-color: rgb(230, 230, 230);
        color: black;
        transition: 0.4s;
    }
    .collapse {
        flex-direction: row;
        justify-content: center;
    }
    .collapse a{
        font-size: 1.5vw;
    }
    .user {
        display: block;
    }
    .user img{
        margin: auto;
        width: 3vw;
    }
    .div-icon img{
        width: 10vw;
    }
    

    /*header y nav terminadoss*/
    
    
    /*INDEXX*/
    
    .minifrase {
        width: 60%;
        margin: 0 auto;
        p {
            font-size: 15px;
        }
    }

    .subtitulos {
        height: 20vh;
    }
    h2 {
        font-size: 4vw;
        padding: 0px 20vw;
    }
    .container {
        height: 70vh;
    }
    .card-juegos {
        width: 45% !important;
        height: 25vh;
        margin: auto;
    }
    .cardimg{
        height: 15vh;
    }
    .card-texto h5 {
        font-size: 1.5vw;
        margin: 10px 10px 10px;
    }
    .card-texto button{
        padding: 10px;
        font-size: 0.8vw;
    }
    
    /*categorias*/
    
    .card-texto img {
        display: none;
    }
    .card-texto button {
        font-size: 0.8vw;
    }
    .flexcarrusel {
        justify-content: space-between;
        width: 70%;
        margin: 15px auto;
    }
    .card-juegoscat {
        width: 18%;
        margin: 20px auto;
        height: 25vh;
    }
    .cardimg {
        height: 10vh;
        width: 100%;
    }
    
    
    /*TIENDAA*/
    
    .d-flex button:hover {
        background-color: rgb(36, 206, 206);
        
    }

    .buscar-categorias {
        width: 70vw;
        margin: 0 15vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #card-juegos4 {
        display: block;
    }
    .tandas {
        display: grid;
        grid-template-rows: 6fr 6fr;
        height: 70vh;
        margin: 50px auto 0px;
    }
    .tanda1 {
        gap: 20px;
        
    }
    .tanda2 {
        gap: 20px;
    }
    
    .card-juegostienda {
        width: 13%;
        height: 25vh;
        margin: auto;
    }
    
    .pasarpag{
        height: 100px;
        align-items: center;
        margin-top: 5vh;
    }
    .pasarpag label {
        padding: 0 1vw;
    }
    
    /*PLATAFORMAS*/
    
    /*Al usar el mismo sistema que encategorias use los mismos codigos*/
    
    .card-texto img {
        display: none;
    }
    .card-texto button {
        font-size: 0.8vw;
    }
    .flexcarrusel {
        justify-content: space-between;
        width: 70%;
        margin: 15px auto;
    }
    .card-juegoscat {
        width: 18%;
        margin: 20px auto;
        height: 25vh;
    }
    .cardimg {
        height: 10vh;
        width: 100%;
    }
    
    
    /*CONTACTOOO*/
    
    #maincontacto {
        background-repeat: no-repeat;
        background-size: contain;
    }

    .seccion1contacto{
        display: grid;
        grid-template-columns: auto 35vw;
        grid-template-rows: 26vh;
        margin: 5vh 10vw 15vh 25vw;
        align-items: center;
    }
    .seccion1contacto__div{
        display: flex;
        flex-direction: column;
        
    }
    .seccion1contacto__div p{
        display: block;
        color: rgb(5, 218, 218);
        font-size: 15px;
        padding: 0 10px;
    }
    .seccion1contacto__div-wpp{
        display: flex;
        flex-direction: row;
    }
    .seccion1contacto__div-preg{
        display: flex;
        flex-direction: row;
    }
    .formcontacto{
        width: 35vw;
        height: 26vh;
    }
    fieldset {
        width: 35vw;
        height: 26vh;
    }
    fieldset label {
        font-size: 1.5vw;
    }

    fieldset input,
    fieldset textarea {
        width: 35vw;
    }
    
    .lalala {
        width: 35vw;
        height: 30vh;
        margin: 0;
    }
    fieldset a{
        padding-right: 10px;
    }
    .seccion2contacto {
        height: 18vh;
    }
    .seccion2contacto__h3 h3 {
        font-size: 1.7vw;
    }
    .seccion2contacto__iconos img{
        width: 65px;
    }
    
    /*ahora el footer*/
    
    .pie {
        display: flex;
        justify-content: space-around;
    }
    .div-parrafos {
        width: 50%;
    }
    .div-parrafos p{
        font-size: 12px;
    }
    .div-iconos {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .div-iconos img{
        width: 80px;
        padding: 0px 25px;
    }
    i {
        font-size: 1.8rem;
        color: rgb(5, 218, 218);
        padding: 2rem;
    }
}